*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
   background-image: url(public/uma-estante-de-parede-cheia-de-livros-de-capa-dura_783299-2306.avif);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 100px;
}

header{
    width: 100%;
    background: #0f0f0fa2;
    color: #dbd9d9;
    padding: 20px 0;
    text-align: center;
    border-bottom: 4px solid #5e5d5d;
}

header h1{
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li{
    display: inline;
    margin-right: 10px;
}

header nav ul li a{
    color: #dbd9d9;
    text-decoration: none;
}

section{
    margin-bottom: 20px;
    background-color:  #0f0f0fa2;;
    padding: 20px;
    border-radius: 5px;
    color: #dbd9d9;
}

section h2{
    margin-bottom: 10px;
    color: #dbd9d9;
}

section ul {
    list-style-type: none;
    padding: 0;
    }
    section ul li {
    background-color: #636060;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    }

    /* Formulário */
form {
    display: flex;
    flex-direction: column;
    }
    label {
    margin-bottom: 5px;
    font-weight: bold;
    }
    input, button {
    padding: 10px;
    background-color: #5e5d5d94;
    color: #dbd9d9;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
button {
        background-color: #5d725d;
        color: white;
        border: none;
        cursor: pointer;
}
button:hover {
    background-color: #232e23;
}
#pesquisa-livro {
    margin: 20px 0;
}

#filtro {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px 0;
    background:  #0f0f0fa2;;
    color: #fff;
    border-top: 4px solid #5e5d5d;
    position: fixed;
    bottom: 0;
    width: 100%;
    }

    #lista-livros li {
        background-color: #53525298;
        margin: 10px 0;
        display: flex;
        padding: 10px;
        border-radius: 5px;
        justify-content: space-between;
        align-items: center;
    }
    
    .remover-livro {
        background-color: #ff4d4d;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .remover-livro:hover {
        background-color: #ff3333;
    }
    